<div class="w-full bg-surface-0 border-b border-surface-200">
    <div class="flex items-center justify-between max-w-screen-2xl mx-auto px-6 py-2">
        <!-- Logo Empresa -->
        <div class="flex items-center">
            <div class="flex items-center gap-2">
                <img [src]="urlLogo" alt="Logo" class="w-10 h-10">
                @if(!isMediumMobile()){
                    <div class="flex flex-col">
                        <span class="text-surface-900 leading-[1.25] text-lg font-semibold">contratalo.pe</span>
                        <span class="text-surface-500 leading-[1.25] text-sm">Especialistas cerca a ti</span>
                    </div>
                }
            </div>
        </div>
        <!-- Autcompletado -->
        <div class="flex-1 max-w-2xl sm:mx-8 mx-2">
            <div class="relative">
                <p-auto-complete optionlabel="name" [placeholder]="acItems.placeholder" />
                <button type="button"
                    class="absolute right-2 top-1/2 transform -translate-y-1/2 p-2 hover:bg-gray-100 rounded-md transition-colors duration-200">
                    <i class="pi pi-search text-gray-500 text-sm"></i>
                </button>
            </div>
        </div>
        <div class="flex items-center">
            <!-- ButtonServicios -->
             @if(!isMediumMobile()){
                 <div class="px-4">
                     <p-button (click)="menu.toggle($event)" [icon]="btnServiciosItem.icon" [label]="btnServiciosItem.label"
                         severity="contrast" iconPos="right" />
                     <p-menu #menu [model]="itemsServicios()" [popup]="true" />
                 </div>
             }
            <!-- BadgeNotificaciones -->
             @if(!isMediumMobile()){
                 <div class="px-4">
                     <p-overlay-badge value="2" severity="danger">
                         <i class="pi pi-bell cursor-pointer text-surface-600 hover:text-surface-800 transition-colors"
                             style="font-size: 1.5rem;"></i>
                     </p-overlay-badge>
                 </div>
             }
            <!-- MenuCuenta -->
            <div class="p-0 sm:px-4">
                <div class="flex items-center gap-1">
                    @if(!isMobile()){
                        <p-avatar label="RC" size="normal" shape="circle"></p-avatar>
                    }
                    <p-button severity="contrast" (click)="menuCuenta.toggle($event)">
                        <button type="button" class="p-ripple p-component p-button-contrast p-button-text">
                            <div class="flex flex-col items-start">
                                <span class="text-xs leading-tight">Rocio Cordova</span>
                                <div class="flex items-center gap-1">
                                    <i class="pi pi-chevron-down text-xs"></i>
                                    <span class="font-medium text-sm leading-tight">Mi cuenta</span>
                                </div>
                            </div>
                            <span class="p-ink" aria-hidden="true" role="presentation"></span>
                        </button>
                    </p-button>
                </div>
                <p-menu #menuCuenta [model]="itemsCuenta()" [popup]="true" />
            </div>
            @if(!isMediumMobile()){
                <div class="pl-4">
                    <p-button severity="secondary" variant="outlined" label="Acceder" icon="pi pi-user" />
                    <p-button severity="primary" label="Publicar anuncio" icon="pi pi-pen-to-square"
                        styleClass="ml-2 text-red-50" />
                </div>
            }
        </div>
    </div>